<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>NServiceBus.Serializers.SystemXml</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>package.bat</BuildCommand>
  <FastBuildCommand>package.bat</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc/" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.ds.adp.com/nuget" Mode="Float" Stability="Anything" />
  </Feeds>
  <Nugets>
    <Dependency Name="NServiceBus" Version="4.3.2.1" Mode="Fixed" />
    <Dependency Name="NServiceBus.Interfaces" Version="4.3.2" Mode="Fixed" />
    <Dependency Name="xunit" Version="1.9.2" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>